.card-menu-items-search:hover {
   background-color: var(--bgcolor-hover);
   border-radius: 10px;
}
.filter-groups-brands > .slick-slide {
   width: 127px;
}

.filter-groups-brands > .slick-arrow {
   border: none;
   background: rgba(44, 82, 41, 0.369);
   width: 27px;
   height: 100px;
}

.filter-groups-brands > .slick-arrow:hover {
   background: rgba(28, 53, 30, 0.5);
}

.filter-groups-brands > .slick-prev {
   z-index: 10;
   position: absolute;
   left: 0;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
}

.filter-groups-brands > .slick-next {
   z-index: 10;
   position: absolute;
   right: 0;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
}

.filter-groups-brand-item:hover {
   background-color: var(--bgcolor-hover);
   border-radius: 10px;
   border: 1px solid #006133;
   cursor: pointer;
}
